<div class="stories-carousel" data-slider="stories-carousel">
    <div class="swiper">
        <div class="swiper-wrapper">
        </div>
    </div>

    <button type="button" class="btn-left slider-btn hidden stories-end">
        <img src="data:image/svg+xml,%3csvg%20width='48'%20height='48'%20viewBox='0%200%2048%2048'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3ccircle%20cx='24'%20cy='24'%20r='14'%20transform='rotate(-180%2024%2024)'%20fill='%232233EE'/%3e%3cpath%20d='M26%2030L20%2024L26%2018'%20stroke='%23FBFBFC'%20stroke-width='1.5'%20stroke-linecap='round'%20stroke-linejoin='round'/%3e%3c/svg%3e"
            alt="green-arrow-left">
    </button>
    <button type="button" class="btn-right slider-btn hidden stories-start">
        <img src="data:image/svg+xml,%3csvg%20width='48'%20height='48'%20viewBox='0%200%2048%2048'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3ccircle%20cx='24'%20cy='24'%20r='14'%20fill='%232233EE'/%3e%3cpath%20d='M22%2018L28%2024L22%2030'%20stroke='%23FBFBFC'%20stroke-width='1.5'%20stroke-linecap='round'%20stroke-linejoin='round'/%3e%3c/svg%3e"
            alt="green-arrow-right">
    </button>
</div>